.powerStat {
    width: 40%;
    background-color: #1628346e;
    border-radius: 20px;
    padding: 1.5em;
    
}

.powerStatsContainer {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top: 2em;
    gap: 1em;

    
   
}