.title {
    font-family: Dragon Hunter;
    font-size: 4.5rem;
    position: relative;
    width: fit-content;
    text-align: center;
}

.title:after {
    content: "";
    width: 90%;
    border-radius: 100% 0% 0%;
    margin: .3em 0;
    background: linear-gradient(50deg, rgba(255, 255, 255, 0), #dbbd5983, #AA8B24);
    height: 2px;
    display: block;
    position: relative;
   
}

@media (max-width: 600px) {
    .title {
        font-size: 2.5rem;
    }
}