.battlePreview {
    background: rgba(22, 40, 52, 0.85); 
    display: flex;
    justify-content: flex-end;
    gap:2em;
    padding: 1em 50px;;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}
.battlePreview div {
    display: flex;
   
}
.battlePreviewImg, .battlePreviewUnknown {
    background-size: cover;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 2px #AA8B24 solid;
    background: rgba(41, 70, 84, 0.55); 
    
}
.battlePreviewUnknown img {
    width: 40px;
    
}
.iconBattle {
    background-color: none;
    
}

@media (max-width: 600px) {
    .battlePreview {
       justify-content: center;
    
    }
}