.cardsSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)) ;
    grid-gap: 2em;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0; 
    margin-top: 1em; 
    width: 80%;
    min-width: 350px;


}

@media (max-width: 600px) {
    .cardsSection {
        width: 95%;
        grid-template-columns: repeat(auto-fill, 120px) ;
    
    }
}


@media (min-width: 600px) and (max-width: 800px) {
    .cardsSection {
        width: 90%;
        grid-template-columns: repeat(auto-fill, 140px) ;
  
    }
}
