
.powerBarContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.powerBar {
  display: flex;
  height: 10px;
  justify-content: center;
  align-items: center;
  gap: 1em;

}

.powerBar span {
  font-size: 1.3rem;
  justify-self: center;
  

}

@media (max-width: 600px) {
  .powerBar span {
    font-size: 1rem;
  }
}


