.battleHero img{
    border-radius: 50%;
    width: 390px;
    height: 400px;
    margin-top: 1em;
    background-size: cover;
    border: 3px solid #AA8B24;
}

.battleHero  {
   font-size: 2rem;
  
}

@media (max-width: 600px) {
    .battleHero img  {
       width: 200px;
       height: 200px;
    
    }
}