.cardsSlider {
    text-align: center;
    flex-direction: row;
    font-size: 1.3rem;
    margin-bottom: 1em;
}
.cardsSlider button {
    box-shadow: none;
}
.cardsSlider img {
    width: 70px;
}

.rightArrow {
    transform: rotate(180deg);
}