.cardsSlider {
    text-align: center;
    flex-direction: row;
    font-size: 1.3rem;
    margin-bottom: 1em;
    background-color: aquamarine;
}

.cardsSlider button {
    box-shadow: none;
}
.cardsSlider img {
    width: 70px;
}

.rightArrow {
    transform: rotate(180deg);
}

@media (max-width: 600px) {
    .cardsSlider img {
        width: 50px;
        
    
    }
}
