.cardsPage {
    background-image: url(../../../Assets/cards-page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 135vh;
    
}