

body, button, input {
  font-family: 'Karma', serif;
  color: white;
  
}
button, input {
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.432);
  border: 0;
  cursor: pointer;
  background: 0;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.boxShadow {
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.432);
}

.textShadow {
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.712);
}

.goldText {
  color: #AA8B24;
}

.textCenter {
  text-align: center;
}

.goldBorder {
  border: 3px solid #AA8B24;
}

header {
  display: flex;
  padding: 1.5em 0;
  justify-content: space-between;

}.headerLeft {
  display: flex;
  width: 20%;
  justify-content: space-between;
 
}
.headerLeft,.headerRight {
  padding: 1em;
}